@import "tailwindcss";

@theme {
  --color-primary-50: #f0f6fc;
  --color-primary-100: #e0ecf8;
  --color-primary-200: #c2dcf3;
  --color-primary-300: #94c3e8;
  --color-primary-400: #6ea4d8;
  --color-primary-500: #4d82bc;
  --color-primary-600: #3b6aa0;
  --color-primary-700: #305581;
  --color-primary-800: #2a476a;
  --color-primary-900: #253b56;
  --color-primary-950: #182536;
}